.menu-icon {
  display: none;
}
@media screen and (max-width:940px) {
  .nav .nav-link {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  .nav nav {
    margin-left: 10px;
    margin-right: 10px;
  }
  .link-icon {
    display: none;
  }
  .nav-last {
    display: none;
  }
}